@import 'antd/dist/reset.css';

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #f0f0f0;
}

[data-theme='dark'] {
  --background-color: #1f1f1f;
  --text-color: #ffffff;
  --border-color: #303030;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  color: var(--text-color);
  background-image: url('/bg-login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}
